Repository ipfs/docs, pull requests merged in 2019-11, with the labels that each got.

#367 Added IPFS Camp core course content to nav
  config.toml
Labels: OKR 3: Content Improvement, design-content, docs-ipfs

#368 docs: HTTP API Status Codes
  content/reference/api/http.md
Labels: OKR 3: Content Improvement, Size: S, design-content, difficulty:easy

#369 Update dnslink.md
  content/guides/concepts/dnslink.md
Labels: OKR 3: Content Improvement, Size: S, design-content, difficulty:easy

#378 chore(concepts/cid): multibase is probably the least WIP project that we have
  content/guides/concepts/cid.md
Labels: OKR 3: Content Improvement, Size: XS, design-content, difficulty:easy, docs-ipfs
