Repository ipfs/docs, pull requests merged in 2019-10, with the labels that each got.

#303 Add gateway guide to nav
  config.toml
Labels: OKR 3: Content Improvement, Size: XS, design-content, difficulty:easy

#354 Make it clear what "the community section" means
  content/_index.md
Labels: OKR 3: Content Improvement, design-content

#358 Removed "Making Your Own IPFS Service" from left nav
  content/guides/examples/api/service/readme.md
Labels: OKR 3: Content Improvement, Size: XS, design-content, difficulty:easy, docs-ipfs

#361 Closes link tag in footer
  layouts/partials/footer.html
Labels: OKR 3: Content Improvement, design-front-end, docs-ipfs

#240 Add a DHT Concept to docs.ipfs.io
  content/guides/concepts/dht.md
Labels: OKR 3: Content Improvement, design-content, difficulty:moderate, docs-ipfs

#352 Add AAAA Record within "Pointing your.domain to IPFS"
  content/guides/examples/websites.md
Labels: OKR 3: Content Improvement, design-content, docs-ipfs
